<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title th:text="${edit}?'Edit Patient':'Add New Patient'"></title>
    <th:block th:include="layout :: headerfiles">
    </th:block>
</head>
<body class="text-left">
<div th:insert="layout :: preloader"></div>
<div class="app-admin-wrap layout-sidebar-large clearfix">
    <div th:insert="layout :: header"></div>
    <div th:insert="layout :: left-navigation"></div>
</div>

<!-- ============ Body content start ============= -->
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="breadcrumb">
        <h1 th:text="${edit}?'Edit Patient':'Add New Patient'"></h1>
        <ul>
            <li><a onclick="history.back();" style="cursor: pointer;"><i
                    class="nav-icon i-Video-Tripod"></i></a></li>
            <!-- <li>Basic</li> -->
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="col-md-2">
                        <input class="form-control" id="order_id" name="order_id"
                               placeholder="NIC UHID" type="text">
                    </div>
                    <div id="LoadingImage" style="display: none">
                        <div class="loader-bubble loader-bubble-primary m-5"
                             th:each="star:${#numbers.sequence(1,8,1)}"></div>

                    </div>
                    <br>
                    <div id="search_data"></div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:insert="layout :: search-ui"></div>
<footer th:insert="layout :: footer"></footer>


</body>
<script type="text/javascript">

    $("#order_id").on("keypress",function(event){

        if ( event.which == 13 ) {
            $("#LoadingImage").show();
             $("#search_data").empty();
            $.ajax({
                type: "GET",
                url: "/patient-detail-search",
                data: "orderid=" +  $("#order_id").val(),
                dataType: "html",
                success: function (data)
                {
                    $("#LoadingImage").hide();
                    $("#order_id").prop('readonly', true);
                    $("#search_data").html(data);
                }
            });
          }


    });

</script>

</html>