<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Patient List</title>
    <th:block th:include="layout :: headerfiles"></th:block>
</head>
<body class="text-left">
<div th:insert="layout :: preloader"></div>
<div class="app-admin-wrap layout-sidebar-large clearfix">
    <div th:insert="layout :: header"></div>
    <div th:insert="layout :: left-navigation"></div>
</div>
<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <div class="alert alert-card alert-success" role="alert" th:if="${message}">
                        <strong class="text-capitalize">Success!</strong> [[${message}]]
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped" style="width:100%">
                            <thead>

                            <tr>
                                <th colspan="2"><h3>Search Patient</h3></th>
                                <th colspan="10" style="text-align:right">
                                </th>
                            </tr>
                            <tr>
                                <td><input class="form-control" id="name" placeholder="Enter First Name" type="text"></td>
                                <td><input class="form-control" id="contact" maxlength="10" placeholder="Enter Mobile No" type="text"></td>
                                <td><input class="form-control" id="abhaId" placeholder="Enter ABHAID" type="text"></td>
                                <td valign="top">
                                    <button class="btn btn-dark example-button" data-style="expand-left"><span class="ladda-label" id="search">Search</span></button>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="LoadingImage" style="display: none">
                        <div class="loader-bubble loader-bubble-primary m-5"></div>
                    </div>
                    <div id="search_detail"></div>

                    <div class="default">
                        <div th:insert="patientListSearch :: patientdetail"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:insert="layout :: search-ui"></div>
    <footer th:insert="layout :: footer"></footer>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function performSearch() {
            var contact = $("#contact").val();
            var abhaId = $("#abhaId").val();
            var name = $("#name").val();

            if (!contact) contact = '';
            if (!abhaId) abhaId = '';
            if (!name) name = '';

            $("#LoadingImage").show();

            $.ajax({
                type: "GET",
                url: "/patientSearchWeb",
                data: { contact: contact, abhaId: abhaId, name: name },
                success: function (data) {
                    $("#LoadingImage").hide();
                    $(".default").hide();
                    $("#search_detail").html(data);
                },
                error: function () {
                    $("#LoadingImage").hide();
                    $("#search_detail").html("<h5>An error occurred while fetching patients.</h5>");
                }
            });
        }

        // Click event for search button
        $("#search").click(function () {
            performSearch();
        });

        // Enter key event for input fields
        $("#name, #contact, #abhaId").keypress(function (event) {
            if (event.which === 13) { // 13 is the Enter key code
                event.preventDefault(); // Prevent form submission
                performSearch();
            }
        });
    });
</script>
</body>
</html>
