<div class="search_detail">
    <div th:fragment="patientdetail">
        <div class="ExportData table-responsive">
            <table class="display table table-striped table-bordered" id="alternative_pagination_table1"
                   style="width:100%">
                <thead>
                <tr>
                    <th>Sl.</th>
                    <th>Registered On</th>
                    <th>Created By</th>
                    <th>Patient name / Emergency Contact</th>
                    <th>Age / Gender</th>
                    <th>Mobile No.</th>
                    <th>SHUHID</th>
                    <th>NIC UHID</th>
                    <th>Address</th>
                    <th>Updated By</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="order,h : ${pat_detail}">
                    <td th:text=${h.count}></td>
                    <td th:text="${#dates.format({order.createdAt} , 'dd-MMM-yyyy hh:mm a')}"></td>
                    <td th:text=${order.patient.createdByUsername}></td>
                    <td th:text="${#strings.capitalizeWords(order.patient.title) } +' ' +${#strings.capitalizeWords(order.patient.firstName) } +' ' +(${order.patient.middleName}?${#strings.capitalizeWords(order.patient.middleName)}:'')+' ' +${#strings.capitalizeWords(order.patient.lastName)}+' '+${#strings.capitalizeWords(order.patient.relationWithPatient)}+' ' +${#strings.capitalizeWords(order.patient.relativeName)}"></td>

                    <td class="gender_age"><input th:value="${order.patient.birthday}" type="hidden"><span></span>/
                        [[${order.patient.gender}]]
                    </td>
                    <td th:text=${order.patient.mobileNo}></td>
                    <td th:text="${order.patient.mrn1}+'/ '+ ${#numbers.formatInteger(order.patient.mrn2,6)}"></td>
                    <td th:text=${order.patient.oldUhid}></td>

                    <td th:text="(${order.patient.street}?${#strings.capitalizeWords(order.patient.street) }:'' )+', ' +(${order.patient.district}?${#strings.capitalizeWords(order.patient.ward) }:'' )+', ' +(${order.patient.district}?${#strings.capitalizeWords(order.patient.district) }:'' )+', ' +(${order.patient.state == 20}?${#strings.capitalizeWords('Madhya Pradesh') }:'' )"></td>

                    <td th:text=${order.patient.updatedByUsername}></td>
                </tr>
                <tr>
                    <td align="center" colspan="10" th:if="${error}"><h2>[[${error}]]</h2></td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function(){

       var dob= document.getElementsByClassName('gender_age');

       for(var i=0; i<dob.length; i++){
           var childs =dob[i].children;
           var diff_ms = Date.now() - new Date(childs[0].value).getTime();
           var age_dt = new Date(diff_ms);

           var age_year = Math.abs(age_dt.getUTCFullYear() - 1970);
           var age_d =  Math.floor((age_dt % 31536000000) / 86400000);
           var age_month =   Math.floor(age_d/30);
           var age_day = age_d % 30;

           if(age_year != 0){
           childs[1].innerHTML = age_year+' Y ';
          }else if(age_month != 0){
              childs[1].innerHTML =  age_month+' M ';
          }else{
              childs[1].innerHTML = age_day+' D ';
          }

       }



   });


</script>