.breadcrumb-h1{
	font-size: 1.2rem; 
	line-height: 0.5;
}

.btn-padding-table{
	padding-top: 0.25rem;
	padding-right: 0.5rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
}
td{
	text-transform: uppercase;
}